/* --- PAGE 1 --- */
/* STEPS */
.steps {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.step {
  margin-right: 6%;
}
.step:nth-child(4) {
  margin-right: 0;
}
.step-number {
  border: 2px solid var(--white);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5%;
  color: var(--white);
  font-weight: 500;
  font-size: 1.3rem;
}
.step-number.active {
  background-color: var(--pastel-blue);
  border: var(--pastel-blue);
  color: var(--marine-blue);
}
.step-titles {
  display: none;
}

/* MAIN-SECTION */
.main-section {
  width: 100%;
  background-color: var(--white);
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}
.main-section h2 {
  color: var(--marine-blue);
  font-size: 2.2rem;
}
.main-section h4 {
  color: var(--cool-gray);
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.inner-section {
  margin-top: 2rem;
}
.inner-section form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.inner-section form input {
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid var(--cool-gray);
  border-radius: 5px;
  color: var(--marine-blue);
  font-weight: 500;
  font-size: 1.5rem;
}
.inner-section form input:focus {
  outline: none;
}
.label-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-message label {
  color: var(--marine-blue);
  font-size: 1.5rem;
  font-weight: 500;
}
.label-message p {
  color: var(--red);
  font-size: 1.1rem;
  font-weight: 500;
}

/* NEXT-PREV */
.next-prev-wrapper {
  position: relative;
}
.next-prev-wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 90, 90, 0.5);
}
.next-prev {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.next button, .prev button {
  padding: 1rem 1.5rem;
  background: var(--btn-color);
  border: 2px solid var(--btn-color);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

/* --- PAGE 2 --- */
/* MAIN-SECTION */
.plan-wrapper {
  display: flex;
  flex-direction: column;
}
.plan {
  display: flex;
  border: 1px solid var(--cool-gray);
  border-radius: 1rem;
  overflow: hidden;
}
.plan.clicked {
  border-color: var(--purplish-blue);
  background-color: var(--very-light-gray);
}
.plan img {
  width: 4rem;
  margin-right: 3%;
  align-self: flex-start;
}
#advanced {
  margin: 5% 0;
}
.plan-info .plan-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--marine-blue);
}
.plan-info .price {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--cool-gray);
  margin: 0.5rem 0;
}
.month-free {
  display: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--marine-blue);
}

/* TOOGLE */
.toogle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  height: 7rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 5rem;
}
.toogle-wrapper .month {
  color: var(--orange-def);
}
.toogle-wrapper .year {
  color: white;
}
.toogle-inner {
  display: flex;
  width: 100%;
}
.toogle-wrapper h2 {
  font-size: clamp(16px, 3.2vw + 0.2rem, 18px);
  margin: 0 auto;
}
.toogle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
}
.input {
  visibility: hidden;
}
.label {
  position: absolute;
  width: 6rem;
  height: 2rem;
  background-color: var(--white);
  border-radius: 2em;
  cursor: pointer;
}
.circle {
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--marine-blue);
  border-radius: 50%;
  top: 3px;
  left: 3px;
  position: absolute;
  animation: toggleOff 0.4s linear forwards;
}
.input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
}
@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes toggleOff {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

/* --- PAGE 3 --- */
/* MAIN-SECTION */
.add-wrapper {
  display: flex;
  flex-direction: column;
}
.add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  border: 1px solid var(--cool-gray);
  border-radius: 1rem;
  overflow: hidden;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
}
.checkbox-wrapper input {
  width: 2rem;
  height: 2rem;
  accent-color: var(--purplish-blue);
  flex-shrink: 0; /* Sprečava smanjivanje .checkbox-wrapper-a */
}
.checkbox-wrapper .titles {
  margin: 0 1rem;
}
.titles .add-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--marine-blue);
}
.titles .add-description {
  margin-top: 0.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--cool-gray);
}
.add-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--purplish-blue);
}
#larger {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* --- PAGE 4 --- */
/* MAIN-SECTION */
.finish-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--very-light-gray);
  border-radius: 1rem;
  overflow: hidden;
}
.plan-finish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--marine-blue);
  padding: 2rem 1rem;
}
.plan-finish h5 {
  font-size: 1.5rem;
}
.add-finish {
  display: flex;
  justify-content: space-between;
}
.add-finish:nth-child(even) {
  padding-top: 0;
  padding-bottom: 0;
}
.add-finish:first-child {
  padding-top: 1.5rem;
}
.add-finish:last-child {
  padding-bottom: 1.5rem;
}
.add-finish h5 {
  font-size: 1.4rem;
  color: var(--cool-gray);
  font-weight: 400;
}
.add-finish .add-price {
  color: var(--marine-blue);
  font-weight: 500;
}
.total-price-finish {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0 1rem;
}
.total-price-finish #total-title {
  font-size: 1.6rem;
  color: var(--marine-blue);
  font-weight: 700;
}
.total-price-finish #total-price {
  font-size: 1.6rem;
  color: var(--purplish-blue);
  font-weight: 700;
}
hr {
  margin: 0 1rem;
  border: none;
  border-top: 1px solid var(--cool-gray);
}
.next.page4 button {
  background: var(--purplish-blue);
  border: 2px solid var(--purplish-blue);
}


/* --- PAGE 5 --- */
/* MAIN-SECTION */
.page5 .main-section {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thank-you img {
  width: 20%;
  max-width: 6rem;
}
.thank-you h4 {
  text-align: center;
  margin-top: 0;
  line-height: 1.5;
}
.thank-you h2 {
  margin: 1.5rem 0;
}

/* HOVERS */
@media (hover: hover) {
  .next button:hover, .prev button:hover {
    border: 2px solid var(--white);
  }
  .plan:hover {
    border-color: var(--purplish-blue);
    cursor: pointer;
  }
  .add:hover {
    border-color: var(--purplish-blue);
    cursor: pointer;
  }
  .checkbox-wrapper input:hover {
    cursor: pointer;
    opacity: 0.78;
  }
}

